html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px 0 20px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

